asn1crypto==1.2.0
certifi==2019.11.28
cffi==1.13.2
cryptography==2.8
dj-database-url==0.5.0
Django==2.2.5
django-common-helpers==0.9.2
django-heroku==0.3.1
entrypoints==0.3
flake8==3.7.9
gunicorn==20.0.4
idna==2.8
mccabe==0.6.1
Pillow==8.2.0
psycopg2==2.8.4
pycodestyle==2.5.0
pycparser==2.19
pyflakes==2.1.1
pyOpenSSL==19.1.0
PySocks==1.7.1
pytz==2019.3
selenium==3.141.0
six==1.13.0
sqlparse==0.3.0
urllib3==1.25.7
whitenoise==5.0.1
